
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index Page</title>
</head>
<body>
    <div>
        <h1 style="background-color:yellowgreen; color:darkred; text-align:center">
            Welcome to Andhra Pradesh FarmSite
        </h1>
        <h2>Click on below links to navigate: </h2>

        <a href="/Home/Register">Register</a> <br>
        <a href="/Home/Login">Login</a> <br>
        <a href="/Home/ForgotPassword">Forgot password</a> <br>
        <a href="/Home/ResetPassword">Reset Password</a> <br>
        <a href="/Home/Mission">Our Mission</a> <br>
        <a href="/Home/Contact">Contact Us</a> <br>
        <a href="/Home/Show/1">Show-01 View</a> <br>
        <a href="/Home/Show/2">Show-02 View</a> <br>
    </div>
</body>
</html>
