
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show1</title>
</head>
<body>
    <div>
        <h1>This is SHOW 01 view..</h1>
    </div>
</body>
</html>
