
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index3</title>
</head>
<body>
    <div>
        <table align="center" border="1" style="width=" 50%">
            <caption>Product Details</caption>
            <tr>
                <td>ID :</td>
                <td>@TempData["id"]</td>
            </tr>
            <tr>
                <td>ID :</td>
                <td>@TempData["item"]</td>
            </tr>
            <tr>
                <td>ID :</td>
                <td>
                    @{
                        double price = Convert.ToDouble(TempData["price"]);
                        price = price + (price * 0.1);
                        @price
                    }
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
