
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mission Page</title>
</head>
<body>
    <div> 
        <h1>Our Mission is to succeed in IT and also Imports buisiness..</h1>
    </div>
</body>
</html>
