
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddEmp</title>
</head>
<body>
    <div> 
        <form method="post">
            Employee ID: </br>
            <input type="text" id="empid" name="id"/> </br>
            Employee Name: </br>
            <input type="text" id="empname" name="name"/> </br>
            Employee Job: </br>
            <input type="text" id="empjob" name="job"/> </br>
            Employee Salary: </br>
            <input type="text" id="empsalary" name="salary"/> </br>

            <input type="submit" value="Save"/>
            <input type="reset" value="Reset"/>
        </form>
    </div>
</body>
</html>
