<div style="color:darksalmon;text-align:center;height:150px;background-color:azure;border-style:dotted;border-color:slateblue;border-width:thick; box-shadow: 0px 0px 50px inset">

    <img id="imgFish" alt="www.apfarmsite.com.com" src="~/Images/Fishing_Pic.jpg" width="100px">

    <marquee style="font-size:x-large;color:crimson;" behavior="alternate">
        Seelavathi, Katla, Koramenu, Bochu, Pithapariga. etc.
    </marquee>

</div>