
@{
    ViewBag.Title = "GetComments";
}

@using (Html.BeginForm())
{
    <div>
        @Html.Label("Comments: ")<br/> @Html.TextArea("txtComments")
    </div>
    <div>
        <input type="submit" value="Submit" name="btnComment" />
    </div>
}

