@{
    ViewBag.Title = "Index Page";
}

<h2>Site Home Page</h2>

<h3>
    @Html.ActionLink("Manager Home Page", "Home", "Manager")<br />
    @Html.ActionLink("Manager Help Page", "Help", "Manager")<br />
    @Html.ActionLink("Staff Home Page", "Home", "Staff")<br />
    @Html.ActionLink("Staff Help Page", "Help", "Staff")
</h3>